html{
    scroll-behavior: smooth;
}
/*:root{
    --navbar-height:59px;
}*/
#navbar{
    /* display: flex;
    align-items: center;
    position: sticky;
    top: 0px; */
    border-bottom: none;
    z-index: 4;
    position: fixed;
    top: 0px;
    box-shadow: rgba(27, 30, 36, 0.06) 0px 8px 16px, rgba(27, 30, 36, 0.04) 0px 0px 8px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    color: black;
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;

}
#navbar ul{
    display: flex;
    margin: 7px;
    padding: 5px;
    
}
#navbar::before{
   
    background: white;
    position: absolute;
    height: 100%;
    width: 100%;

}
#navbar ul li{
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a{
    color: rgb(0, 0, 0);
    display: block;
    padding:14px 16px;
    border-radius: 0px;
    text-decoration: none;
}

